body {
  background: #0b132b;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #1c2541;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
}

.top {
  color: white;
  margin-bottom: 10px;
}

#mode {
  font-size: 14px;
  opacity: 0.8;
}

#display {
  font-size: 32px;
  text-align: right;
  margin-top: 5px;
  min-height: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: #3a506b;
  color: white;
}

button:active {
  transform: scale(0.95);
}

.danger {
  background: #e63946;
}

.equals {
  grid-column: span 4;
  background: #2ecc71;
  font-size: 22px;
}

.blue {
  background: #4ea8de;
  color: #061a40;
}
