body {
  margin: 0;
  background: #0b1220;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 320px;
  background: #121c30;
  border-radius: 20px;
  padding: 20px;
}

.top {
  color: white;
  margin-bottom: 10px;
}

#mode {
  font-size: 12px;
  opacity: 0.7;
}

#display {
  font-size: 28px;
  text-align: right;
  margin-top: 5px;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  background: #253355;
  color: white;
}

button:active {
  transform: scale(0.95);
}

.danger {
  background: #e74c3c;
}

.equals {
  background: #2ecc71;
  grid-column: span 2;
  border-radius: 30px;
  }
