body {
  background: radial-gradient(#0b1220, #020409);
  font-family: system-ui;
  color: white;
}

.calculator {
  max-width: 360px;
  margin: 30px auto;
  background: #121c2d;
  border-radius: 20px;
  padding: 20px;
}

.display-box {
  background: #020817;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

#mode {
  color: #6bbcff;
  font-size: 14px;
}

#display {
  font-size: 28px;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background: #2b3b55;
  color: white;
  font-size: 16px;
}

button.blue {
  background: #4fa8f5;
  color: #041625;
}

button.danger {
  background: #e84545;
}

button.equals {
  grid-column: span 4;
  background: #2ecc71;
  font-size: 20px;
}

.history {
  margin-top: 15px;
  background: #0b1425;
  border-radius: 15px;
  padding: 10px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.history button {
  background: #e84545;
  padding: 5px 10px;
  font-size: 12px;
}

#history {
  max-height: 120px;
  overflow-y: auto;
  font-size: 13px;
}
